/**** Start color4 Color ****/ .navbar-nav > li > .dropdown-menu
{
        border-top: 1px solid #568564;
}
.testmonials .carousel-indicators li
{
    border: 1PX solid #568564
}
.opt-box .color
{
    border: 3px solid #568564;
}
.opt-box .color ul li,
.opt-box .gear-option,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,

{
    background-color: #568564;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-brand,
.opt-box .gear-option,
.features .feat span,
.features h2
{
    color: #568564
}

/**** End color4 Color ****/
