/**** Start color5 Color ****/ .navbar-nav > li > .dropdown-menu
{
        border-top: 1px solid 	#12648c;
}
.testmonials .carousel-indicators li
{
    border: 1PX solid 	#12648c
}
.opt-box .color
{
    border: 3px solid 	#12648c;
}
.opt-box .color ul li,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.scroll-up,
.social.social-circle a

{
    background-color: 	#12648c;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-brand,
.opt-box .gear-option,
.features .feat span,
.features h2,
.repo h1,
.repo .git a,
.sup h1,
#about p
{
    color: 	#12648c
}

/**** End color5 Color ****/
