/**** Start defult Color ****/
.navbar-nav > li > .dropdown-menu
{
        border-top: 1px solid #71ADB5;
}
.testmonials .carousel-indicators li
{
    border: 1PX solid #71ADB5
}
.opt-box .color
{
    border: 3px solid #71ADB5;
}

.opt-box .color ul li,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.scroll-up,
.social.social-circle a

{
    background-color: #71ADB5;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-brand,
.opt-box .gear-option,
.features .feat span,
.features h2,
.repo h1,
.repo .git a,
.sup h1,
#about p

{
    color: #71ADB5;
}

/**** End defult Color ****/
