/* media ََQuiry */

@media(max-width:768px)
{
    h1,h2,p,.lead
    {
        font-size: 20px;
    }
    .navbar-nav
    {
      margin-top: 0
    }
    .navbar-nav > li > a
    {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse
    {
        max-height: none;
    }
    /*.carousel-caption
    {
      display: none;
    }
    .carousel-caption h1
    {
      font-size: 25px
    }
    .carousel-caption .lead
    {
      font-size: 18px
    }*/
    .opt-box
    {
      position: fixed;
      top: 220px;
      left: 0;
    }


@media(max-width:991px)
{
  .carousel-caption h1
  {
    font-size: 25px
  }
  .carousel-caption .lead
  {
    font-size: 18px
  }

}

@media(min-width:992px)and (max-width:1199px)
{


}


@media(max-width:1200px)
{

}
