/* media ََQuiry */

@media(max-width:768px)
{
  body
  {
    overflow-x: hidden;
  }
    h1,h2,p,.lead
    {
        font-size: 20px;
    }
    .navbar-nav
    {
      margin-top: 0
    }
    .navbar-nav > li > a
    {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse
    {
        max-height: none;
    }
    /*.carousel-caption
    {
      display: none;
    }
    .carousel-caption h1
    {
      font-size: 25px
    }
    .carousel-caption .lead
    {
      font-size: 18px
    }*/
    .opt-box
    {
      position: fixed;
      top: 220px;
      left: 0;
    }

    .features .feat h3
    {
      font-size: 25px
    }
    .features h2
    {
      font-size: 30px;
    }
    .features .feat p
    {
      font-size: 15px;
    }

    .repo h1
    {
        font-size: 25px;
    }
    .repo .lead
    {
        font-size: 15px;
    }
    .repo .git a i
    {
      font-size: 60px;
    }

    #Our-app .section-heading h2
    {
      font-size: 30px
    }
    #Our-app .section-heading h3
    {
      font-size: 20px;
      font-style: oblique;
    }
    #about .how
    {
          padding: 60px 0 0px 0;
    }
    #about .me
    {
          padding: 5px 0 0px 0;
    }
    #about .me img
    {
      width: 125px;
      height: 250px;
      
    }
    #about .how p
    {
      font-size: 15px;
    }
    #about .how p
    {
      font-size: 15px;
      display: none;
    }
    .wattary .info
    {
      margin: 140px 0 0 0;
    }
    .wattary .info h2
    {
      font-size: 40px;
    }
    .wattary .info p
    {
      font-size: 25px ;
    }
  .contact-form .btn
  {
    margin: -1px 30%;
  }



}
@media(max-width:991px)
{
  .carousel-caption h1
  {
    font-size: 25px
  }
  .carousel-caption .lead
  {
    font-size: 18px
  }
  #details .animate-box img
  {
    width: 50%;
    height: 50%;
  }
  #about .how
  {
        /*padding: 0px 0 0px 0;*/
  }

}

@media(min-width:992px)and (max-width:1199px)
{


}


@media(max-width:1200px)
{

}
