/* Start Overriding Bootstrap */

body
{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,.lead
{
    font-family:'Droid Sans', sans-serif;
}



/* Start Navbar*/


/* Active link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
 .navbar-inverse .navbar-nav > li > a:focus
 {
   color: #71ADB5;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
 }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
{
    color: #71ADB5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
/* change color for link */
.navbar-inverse
{
    background-color: #D8DFE2;
    /*border-color: initial;*/
    /*opacity: 0.9;*/
    /*z-index: 100000000000000;*/
}

/* Brand Name */
.navbar-inverse .navbar-brand
{

    font-size: 25px;
    font-family: fantasy;
    line-height: 25px;
}
.container .navbar-brand, .navbar >
.container-fluid .navbar-brand
{
  color: black;
}



/* Dropdawn menu */
 .navbar-nav > li > .dropdown-menu
{
    background-color: #0a0404;
    color: white;
    min-width: 180px
}

.dropdown-menu > li > a
{
    color: white;
    padding: 5px 20px;


}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    color: white;
    padding-left: 25px;
    -webkit-transition: padding .3s ease-in-out;
    -Moz-transition: padding .3s ease-in-out;
    -O-transition: padding .3s ease-in-out;
    transition: padding .3s ease-in-out;
}


.navbar-right .dropdown-menu
{
    left: 0;
}

.navbar-nav > li > a
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px
}


/* End Navbar*/

/*Start of Box*/

.opt-box
{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999
}
.opt-box .color
{
    float: left;
    background: #333;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: none;
}
.opt-box .color ul li
{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer
}
.opt-box .gear-option
{
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

/*End of Box*/

/* Style for index page */


/* Start of Slider */
/* width of photo */
.carousel-inner > .item > img
{
    width: 100%;
    height: 550px;
    opacity: 0.9;
}




.carousel-caption
{
    padding-bottom: 130px;

}
.carousel-caption h1
{
    font-size: 40px;
    font-family: arial;
    padding: 0 0 45px 0;
}
.carousel-caption .lead
{
    font-size: 23px;
    font-family:arial
}

.carousel-indicators li
{
    height: 13px;
    width: 13px;
    margin: 18px 0;
    border: 1px solid black
}
.carousel-indicators .active
{
    margin: 18px 0;
    height: 15px;
    width: 15px;
    background-color:#eee
}

.carousel-indicators .item
/* End of Slider */

/* Start of featuers */

.features
{

    /*background-color: #ddd;*/
    padding: 40px 0;
}
.features .feat
{
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 10px 10px 5px #DDD;
    margin-bottom: 30px;
}
.features h2
{
    margin: 40px 0;
}

.features .feat p
{
    line-height: 2em
}
.features .feat span
{
    font-size: 35px;
    margin-bottom: 12px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.features .feat span:hover
{
        transform:rotatez(720deg);

}
/* End of featuers */

/* Start of repo */
.repo
{
    padding-top: 40px;
    padding-bottom: 80px;
    background: #F5F5F5
}
.repo h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.repo p
{
    margin-bottom: 30px
}
.repo .git a
{
  /*color: black;*/
}

.repo .git a i
{
  font-size: 120px;
}
/* End of repo */

/* Start of scroll */

.scroll-up
{
    width: 50px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: #000;
    position:fixed;
    right: 15px;
    bottom: 5px;
    display: none;
    cursor: pointer;
}

/* End of scroll */

/* End style for index page */
/* Style for Get Started page *

/* Start of Supcraipe */

.sup
{
    padding: 40px 0 ;
    background: #eee
}
.sup .download
{
  padding: 50px 0;
}
.sup h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.sup p
{
    margin-bottom: 20px
}

.sup .btn
{
    border-radius: 0
}

/* End of Supscraipe */

/* Start of app screens */
#Our-app
{
  padding: 40px 0 0 0;
  background-color: #393939
}
#Our-app .section-heading h2
{
  padding: 0 10px;
  font-size: 55px;
}
#Our-app .section-heading h3
{
  margin: 30px 0 30px 0;
  font-style: oblique;
}

#about
{
    background-color:#D8DFE2;
    color: Black;
    padding: 20px;

}
/*#about .Me
{
    margin-bottom: 0px;
}*/
#about .how
{
      padding: 160px 0 0px 0;
}
#about h3
{
    color: #363333;
    font-size: 25px;
    font-weight: bold;
}
#about p
{
    color: grey;
    font-size: 20px;
    font-style: oblique;
}

#about.spacer
{
    /*padding-left: 4em;
    padding-right: 4em;*/
    /*padding: 30px 0 0px 0;*/

}














/* End of app details */

/* Start of app features */
#Features
{
  background-color: white;
}
#Features .features h2
{
  font-size: 45px;
}
#Features .features h3
{
  padding: 0 0 30px 0;
  font-size: 25px;
  font-style: oblique;
}

/* End of app features */



/*Start of Agent page*/
.Agent
{
    background:url("../imges/1.jpg") no-repeat center center fixed;
    min-height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Agent .wattary
{
    background-color:rgba(2,2,2,0.7);
    min-height: 600px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.wattary .info
{
    margin: 200px 0 0 0;
}
.wattary .info h2
{
    font-size: 40px;
    font-family: Arial;
}
.wattary .info p
{
    font-size: 30px;
    padding: 25px 0 0 0;
    font-family: arial;
}
.info h2 span,p span
{
    color: #71ADB5;
}
.info a button
{
    margin: 25px 0 0px 0;
    width: 200px;
    border-radius: 0;
    border: 0;
    font-family: revert;
}
/*End of Agent page*/


/*Start of Chat Box */

.chat .contact
{
    background-color: lightgray;
    min-height: 350px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ddd;
    margin: 100px 0 0 0;
}

.chat input
{
    height: 150px;
    padding: 50px 20px;
    border:none;
}
.FM .btn
{
    padding: 10px;
    margin: 0;
    position: relative;
    top: -14px;
    border-radius: 0;

}

/*End of Chat Box*/

/*Start of Footer*/
#footer {
  padding: 50px 0;
  color: #7f7f7f;
  background-color: #D8DFE2;
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 10px;
}



.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #71ADB5;
  color: #fff;
}
.social li a.social-circle {
  background: #71ADB5;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 ;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.social.social-box a {
  background: #71ADB5;
  color: #fff;
}
.social.social-circle a {
  background: #71ADB5;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/*End of footer*/
