/* Start Overriding Bootstrap */

body
{
    overflow-y: hidden;
}
h1,h2,h3,h4,h5,.lead
{
    font-family:'Droid Sans', sans-serif;
}



/* Start Navbar*/


/* Active link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
 .navbar-inverse .navbar-nav > li > a:focus
 {
   color: #71ADB5;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
 }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
{
    color: #71ADB5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
/* change color for link */
.navbar-inverse
{
    background-color: #D8DFE2;
    /*border-color: initial;*/
    /*opacity: 0.9;*/
    /*z-index: 100000000000000;*/
}

/* Brand Name */
.navbar-inverse .navbar-brand
{

    font-size: 25px;
    font-family: fantasy;
    line-height: 25px;
}
.container .navbar-brand, .navbar >
.container-fluid .navbar-brand
{
  color: black;
}



/* Dropdawn menu */
 .navbar-nav > li > .dropdown-menu
{
    background-color: #0a0404;
    color: white;
    min-width: 180px
}

.dropdown-menu > li > a
{
    color: white;
    padding: 5px 20px;


}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    color: white;
    padding-left: 25px;
    -webkit-transition: padding .3s ease-in-out;
    -Moz-transition: padding .3s ease-in-out;
    -O-transition: padding .3s ease-in-out;
    transition: padding .3s ease-in-out;
}


.navbar-right .dropdown-menu
{
    left: 0;
}

.navbar-nav > li > a
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px
}


/* End Navbar*/




/*Start of Box*/

.opt-box
{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999
}
.opt-box .color
{
    float: left;
    background: #333;
    color: #fff;
    padding: 10px;
    width: 200px;
    display: none;
}
.opt-box .color ul li
{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer
}
.opt-box .gear-option
{
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

/*End of Box*/



/* Style for index page */





/* Start of Slider */
/* width of photo */
.carousel-inner > .item > img
{
    width: 100%;
    height: 550px;
    opacity: 0.9;
}




.carousel-caption
{
    padding-bottom: 130px;

}
.carousel-caption h1
{
    font-size: 40px;
    font-family: cursive;
}
.carousel-caption .lead
{
    font-size: 23px;
    font-family:cursive
}

.carousel-indicators li
{
    height: 13px;
    width: 13px;
    margin: 18px 0;
    border: 1px solid black
}
.carousel-indicators .active
{
    margin: 18px 0;
    height: 15px;
    width: 15px;
    background-color:#eee
}

.carousel-indicators .item
/* End of Slider */

/* Start of featuers */

.features
{

    /*background-color: #ddd;*/
    padding: 40px 0;
}
.features .feat
{
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 10px 10px 5px #DDD;
    margin-bottom: 30px;
}
.features h2
{
    margin: 40px 0;
}

.features .feat p
{
    line-height: 2em
}
.features .feat span
{
    font-size: 35px;
    margin-bottom: 12px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.features .feat span:hover
{
        transform:rotatez(720deg);

}
/* End of featuers */

/* Start of repo */
.repo
{
    padding-top: 40px;
    padding-bottom: 80px;
    background: #F5F5F5
}
.repo h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.repo p
{
    margin-bottom: 30px
}
.repo .git a
{
  /*color: black;*/
}

.repo .git a i
{
  font-size: 120px;
}
/* End of repo */

/* Start of scroll */

.scroll-up
{
    width: 50px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: #000;
    position:fixed;
    right: 15px;
    bottom: 5px;
    display: none;
    cursor: pointer;
}

/* End of scroll */

/* End style for index page */



/* Style for Get Started page */

.soon
{
    /*background: url("../imges/-3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;*/

}
.soon .son
{
    background-color: rgba(9,9,9,0.7);
    min-height: 350px;
    padding-top: 161px;
    padding-bottom: 51px;
    color: #ddd;
}
.soon p
{
    margin-bottom: 60px;
}

/* End style for Get Started page */


/* Style for Team page */

/* End style for Team page */


/* Style for Contact page */

/* End style for Contact page */
